/* Изменения темы */

html[data-theme="light"] {
    --background: #EAEAEA;
    --second-backgrond: #FFFFFF;
    --third-background: #FFFFFF;
    --primary-text: #111111;
    --second-text: #34343480;
    --third-text: #343434;
    --background-button: #E3F3FF;
}

html[data-theme="dark"] {
    --background: #171820;
    --second-backgrond: #21222C;
    --third-background: #13151A;
    --primary-text: #FFFFFF;
    --second-text: #FFFFFF;
    --third-text: #FFFFFF;
    --background-button: #3E85F3;
}


body {
    background: var(--background);
    transition: background-color 400ms;
}
