/* Изменения темы */

html[data-theme="light"] {
    --background: #FFFFFF;
    --section: #f2f2f2;
    --primary-text: #111111;
    --secondary-text: #324e59;
    --button-background: #181818;
}
  
html[data-theme="dark"] {
    --background: #121212;
    --section: #181818;
    --primary-text: white;
    --secondary-text: #b3b3b3;
    --button-background: #324e59;
}


body {
    background: var(--background);
    transition: background-color 400ms;
}
