/* Изменения темы */

html[data-theme='light'] {
  --background: #eaeaea;
  --second-backgrond: #ffffff;
  --third-background: #ffffff;
  --primary-text: #111111;
  --second-text: #343434;
  --third-text: #343434;
  --background-button: #e3f3ff;
  --color-button-content-hover: #3e85f3;
  --user-label-color: #111111;
  --user-input-border: 1px solid rgba(17, 17, 17, 0.1);
  --calendar-out-border: 1px solid rgba(220, 227, 229, 0.8);
  --calendar-inner-background: rgba(220, 227, 229, 0.8);
  --period-type-btn-active: #cae8ff;
  --period-type-btn-not-active: #e3f3ff;
  --period-type-btn-active-content: #3e85f3;
  --task-list-item-background: #ffffff;
  --modal-window: #ffffff;
  --modal-form-content: rgba(52, 52, 52, 0.8);
  --modal-form-label: rgba(52, 52, 52, 0.8);
  --task-item-bg: #f7f6f9;
  --textarea-bg: #f7f7f7;
  --textarea-border: none;
  --reviews-list: rgba(227, 243, 255, 0.5);
  --reviews-content: rgba(17, 17, 17, 0.7);
  --empty-star: #cec9c1;
  --scrollbar-bg: grey;
  --button-not-active: #e5edfa;
  --user-placeholder: #111111;
  --button-calendar: #606470;
}

html[data-theme='dark'] {
  --background: #171820;
  --second-backgrond: #21222c;
  --third-background: #13151a;
  --primary-text: #ffffff;
  --second-text: #ffffff;
  --third-text: #ffffff;
  --background-button: #3e85f3;
  --color-button-content-hover: #ffffff;
  --user-label-color: rgba(250, 250, 250, 0.3);
  --user-input-border: 1px solid rgba(255, 255, 255, 0.15);
  --calendar-out-border: 1px solid rgba(255, 255, 255, 0.15);
  --calendar-inner-background: rgba(255, 255, 255, 0.15);
  --period-type-btn-active: #3e85f3;
  --period-type-btn-not-active: #21222c;
  --period-type-btn-active-content: #ffffff;
  --task-list-item-background: #111111;
  --modal-window: #171820;
  --modal-form-content: #ffffff;
  --modal-form-label: rgba(250, 250, 250, 0.3);
  --task-item-bg: #171820;
  --textarea-bg: transparent;
  --textarea-border: 1px solid rgba(255, 255, 255, 0.15);
  --reviews-list: #21222c;
  --reviews-content: rgba(255, 255, 255, 0.7);
  --empty-star: #353647;
  --scrollbar-bg: #2d3037;
  --button-not-active: #21222c;
  --user-placeholder: white;
  --button-calendar: #d0d0d0;
}

body {
  background: var(--background);
  /* transition: background-color 400ms;     */
}
html {
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--scrollbar-bg);
    border-radius: 12px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    /* height: 112px; */
    background: var(--second-backgrond);
    border-radius: 12px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-bg);
  }
}
