/*Кастомный тул бар*/
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f2f2f2;
}
::-webkit-scrollbar-thumb {
  background: #e7e5e5;
  border-radius: 12px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*Кастомный тул бар*/
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f2f2f2;
}
::-webkit-scrollbar-thumb {
  background: #e7e5e5;
  border-radius: 12px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body.no-scroll {
  overflow: hidden;
  overflow-y: hidden;
}

/* --------- Fonts ------------------------------------- */

/* inter-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/inter-v12-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/inter-v12-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/inter-v12-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/inter-v12-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Coolvetica-regular */
@font-face {
  font-display: swap;
  font-family: 'Coolvetica';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/CoolveticaRg-Regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Coolvetica-regular-italic */
@font-face {
  font-display: swap;
  font-family: 'Coolvetica';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/CoolveticaRg-Italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* ---------------------------------------------------------------- */

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ----------- Стилі для календаря вибору дати ----------- */

.MuiPaper-root {
  /* background-color: #3e85f3 ; */
  border-radius: 16px;
}
.MuiDialog-paper {
  border: 2px solid yellow;
  /* background-color: #3e85f3 !important; */
}

.MuiDialogContent-root {
  /* background-color: #3e85f3 !important; */
  border-radius: 16px;
  border: 2px solid black;
}
.MuiDialogContent-root:first-of-type {
  /* background-color: #3e85f3; */
  border-radius: 16px;
}
.MuiPickersLayout-root {
  width: 327px;
  height: 100%;
  background-color: #3e85f3;
  border-radius: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    width: 373px;
  }
}
.MuiDateCalendar-root {
  /* .MuiPaper-root, */
  .MuiButtonBase-root,
  .MuiPickersDay-today {
    fill: #fff;
    color: #fff !important;
  }
}
/* Числа місяця */
.MuiDateCalendar-root {
  .MuiPaper-root,
  .MuiButtonBase-root {
    color: white;
    &:hover,
    &:focus {
      background-color: #1f79d2;
    }
  }
}
/* Дні місяця */
.MuiDateCalendar-root {
  .MuiDayCalendar-weekDayLabel {
    color: white;
  }
}

/* перемикачі місяця року */
.MuiDateCalendar-root {
  .MuiPickersCalendarHeader-switchViewIcon,
  .MuiPickersArrowSwitcher-root,
  .MuiSvgIcon-root {
    color: white;
  }
}

.MuiPickersLayout-root {
  border: 2px solid red;
  width: 327px;
  /* border-radius: 16px;
  background-color: #3e85f3; */
}
.MuiPickersLayout-contentWrapper {
  border: 2px solid green;
  /* border-radius: 16px;
  background-color: #3e85f3; */
}

/* .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded {
  background-color: #3e85f3;
  border-radius: 16px;
} */

.MuiPickersDay-today {
  border: 1px solid #fff !important;
}
.MuiTypography-root {
  color: white;
}
.MuiTypography-root.MuiDatePickerToolbar-title {
  font-size: 0px;
  margin: 0px;
}

.MuiTypography-root.MuiTypography-overline {
  display: none;
}

.MuiPickersLayout-root.MuiPickersLayout-actionBar {
  visibility: hidden !important;
}
.MuiButtonBase-root.MuiButton-root {
  visibility: hidden !important;
}
